<!doctype html>
<html lang="en" ng-app="ToDoList">
  <head>
    <meta charset="utf-8">
    <title>todo</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/todo.css">
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="js/app.js"></script>
    <script src="js/toDoListController.js"></script>
    <script src="test/e2e/toDoListFeature.js"></script>
  </head>
  <body class="body">
    <div ng-controller="ToDoListController as todoCtrl">
    <h3>ToDo List</h3>
    <div>
      <ng-pluralize
        count="todoCtrl.todos.length"
        when="{
          '0': 'No todos left',
          '1': '1 todo left',
          'other': '{} todos left'
        }"
        >
      </ng-pluralize>
    </div>
    <form name="form">
      <input  ng-model="todoCtrl.todoTitle" type="text" required/>
      <button class="btn" ng-click="todoCtrl.showTodos(); todoCtrl.clearForm()" type="submit" ng-disabled="form.$invalid">Add</button>
    </form>
    <button class="deletebtn" ng-click="todoCtrl.clearDone($index)" type="submit" id="delete{{$index}}">Delete Done</button>
      <ul ng-repeat="todo in todoCtrl.todos" ng-class="todoCtrl.className($index)" class="todolist">
        <input type="checkbox" ng-model="todoCtrl.todos[$index].done" id="checkbox{{$index}}">
        <span class="done-{{todo.done}}">{{todo.title}}</span>
      </ul>
    </div>
  </body>
</html>
